.footer {
  background-color: #282c34;
  color: gray;
  text-align: left;
  padding: 1rem;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.content {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
  }
}
